
<div class="row">
    <h1> Carrinho de Compras</h1>
</div>

<hr>

<div class="row">
<%if @produtos.blank? %>
    <h4>Nenhm produto incluído no carrinho</h5>
<%else%>
    <%@produtos.each do |produto|%>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
        <a href="/produto/<%=produto.id%>"><img class="card-img-top" src="<%=produto.imagem%>" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
            <a href="/produto/<%=produto.id%>"><%=produto.nome%></a>
            </h4>
            <h5>R$ <%=produto.valor%></h5>
            <p class="card-text"><%=produto.descricao.truncate(100)%></p>
        </div>
        <div class="card-footer">
            <%if existe_o_produto_no_carrinho(produto.id)%>
                <a href ="/produto/<%=produto.id%>/remover" style="color:red">Remover Carrinho</a>
            <%else%>
                <a href ="/produto/<%=produto.id%>/adicionar">Adicionar Carrinho</a>
            <%end%>
        </div>
        </div>
    </div>
    <%end%>  
<%end%>  

</div>